<div>
    <h2 id="page-heading">
        <span>Feedbacks</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-feedback" [routerLink]="['/feedback/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Feedback
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="feedbacks?.length === 0">
        <span>No feedbacks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="feedbacks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="doctor.id"><span>Doctor</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="patient.id"><span>Patient</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let feedback of feedbacks ;trackBy: trackId">
                    <td><a [routerLink]="['/feedback', feedback.id, 'view']">{{ feedback.id }}</a></td>
                    <td>
                        <div *ngIf="feedback.doctor">
                            <a [routerLink]="['/doctor', feedback.doctor?.id, 'view']" >{{ feedback.doctor?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="feedback.patient">
                            <a [routerLink]="['/patient', feedback.patient?.id, 'view']" >{{ feedback.patient?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/feedback', feedback.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/feedback', feedback.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(feedback)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
