<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="doctor">
            <h2><span>Doctor</span> {{ doctor.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ doctor.name }}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{ doctor.phone }}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{ doctor.address }}</span>
                </dd>
                <dt><span>Admin</span></dt>
                <dd>
                    <div *ngIf="doctor.admin">
                        <a [routerLink]="['/admin', doctor.admin?.id, 'view']">{{ doctor.admin?.id }}</a>
                    </div>
                </dd>
                <dt><span>Department</span></dt>
                <dd>
                    <div *ngIf="doctor.department">
                        <a [routerLink]="['/department', doctor.department?.id, 'view']">{{ doctor.department?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/doctor', doctor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
