<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-prescription-heading">Create or edit a Prescription</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_timings">Timings</label>
                    <input type="text" class="form-control" name="timings" id="field_timings"
                           formControlName="timings"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_medicineCount">Medicine Count</label>
                    <input type="number" class="form-control" name="medicineCount" id="field_medicineCount"
                           formControlName="medicineCount"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_signedBy">Signed By</label>
                    <select class="form-control" id="field_signedBy" name="signedBy" formControlName="signedBy">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="doctorOption.id === editForm.get('signedBy')!.value?.id ? editForm.get('signedBy')!.value : doctorOption" *ngFor="let doctorOption of signedbies; trackBy: trackById">{{ doctorOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="field_medicines">Medicines</label>
                    <select class="form-control" id="field_medicines" multiple name="medicines" formControlName="medicines">
                        <option [ngValue]="getSelected(editForm.get('medicines')!.value, medicineOption)" *ngFor="let medicineOption of medicines; trackBy: trackById">{{ medicineOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_patient">Patient</label>
                    <select class="form-control" id="field_patient" name="patient" formControlName="patient">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patientOption.id === editForm.get('patient')!.value?.id ? editForm.get('patient')!.value : patientOption" *ngFor="let patientOption of patients; trackBy: trackById">{{ patientOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
