<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="payment">
            <h2><span>Payment</span> {{ payment.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Invoice Code</span></dt>
                <dd>
                    <span>{{ payment.invoiceCode }}</span>
                </dd>
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{ payment.date }}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{ payment.amount }}</span>
                </dd>
                <dt><span>Doctor</span></dt>
                <dd>
                    <div *ngIf="payment.doctor">
                        <a [routerLink]="['/doctor', payment.doctor?.id, 'view']">{{ payment.doctor?.id }}</a>
                    </div>
                </dd>
                <dt><span>Patient</span></dt>
                <dd>
                    <div *ngIf="payment.patient">
                        <a [routerLink]="['/patient', payment.patient?.id, 'view']">{{ payment.patient?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/payment', payment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
